#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_build:
	python3 bin/gen-background
	xvfb-run -a python3 bin/validate-theme

override_dh_auto_test:
	python3 -m unittest discover -s tests -v

override_dh_auto_clean:
	rm -f assets/background.png
